.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
.DS_Store
/build
.vs/*
data/parts/error_log
../uploads
main_scratch.php
test*
*.log
workingTemp/
transcribe/sr/*
*.pem
/deletedUploads/*

/transcribe/data/parts/config.php
/transcribe/data/scripts/parts/constants.js
/transcribe/data/parts/constants.php
/transcribe/data/libs/node_modules/uglify-js/
/transcribe/data/libs/node_modules/.bin/
/transcribe/data/libs/node_modules/commander/
/transcribe/data/libs/closure-compiler-v20200614.jar
/jobs/check_exceeded_retention/csv/*
/jobs/check_exceeded_retention/logs/*
/api/src/Controller/conversionCron.php
#/transcribe/data/scripts/admin_tools.js
#/transcribe/data/scripts/access.js
#/transcribe/data/scripts/accounts.js
#/transcribe/data/scripts/job_picker.js
#/transcribe/data/scripts/job_upload.js
#/transcribe/data/scripts/login.js
#/transcribe/data/scripts/landing.js
#/transcribe/data/scripts/main.js
#/transcribe/data/scripts/popup.js
#/transcribe/data/scripts/users.js
#/transcribe/data/scripts/reset.js
#/transcribe/data/scripts/tinymce.js
#/transcribe/data/scripts/transcribe.js
#/transcribe/data/scripts/joblistscripts.js
#/transcribe/data/scripts/billing_report.js
#/transcribe/data/scripts/typist_report.js
#/transcribe/data/scripts/manage_typists.js
#/transcribe/data/scripts/signup.js
/api/.env
/uploads/
/convert.log
/docs/~$db_vscription.xlsx
/logs/
/uploads.LARGEDATA/*
/sql_maintanence/*