.gradle
.htaccess
/local.properties
/.idea/*
.DS_Store
/build
.vs/*


data/parts/error_log
/uploads
main_scratch.php
test*
transcribe/workingTemp/
transcribe/sr/*
*.pem
/deletedUploads/*
/api/phinx/phinx.php

/api/.env
/uploads/
/convert.log
/api/src/Controller/conversionCron.php
/logs/*
revai-receive.log
revai.log
/transcribe/sr/27yBVCgs4Jm1E5Yffg3NiVN/*
/transcribe/authorizenetlog.log
/api/src/Payment/authorizeNet.log
/docs/~$db_vscription.xlsx
/logs/
/uploads.LARGEDATA/*
/sql_maintanence/*




# transcribe
transcribe/.vs/*
transcribe/.idea/*

transcribe/data/parts/config.php
transcribe/data/parts/constants.php
transcribe/data/libs/node_modules/uglify-js/
transcribe/data/libs/node_modules/.bin/
transcribe/data/libs/node_modules/commander/
transcribe/data/libs/closure-compiler-v20200614.jar


/transcribe/data/parts/error_log
/transcribe/main_scratch.php

/transcribe/data/parts/config.php
/transcribe/data/parts/constants.php
/transcribe/data/libs/node_modules/uglify-js/
/transcribe/data/libs/node_modules/.bin/
/transcribe/data/libs/node_modules/commander/
/transcribe/data/libs/closure-compiler-v20200614.jar


/transcribe/data/scripts/*.js
!/transcribe/data/scripts/*.min.js

transcribe/data/scripts/parts/constants.js
/transcribe/data/scripts/obf_me.min.js