@import "parts/admin_card_view.css";
@import "parts/global.css";

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}


.tools-button {
    /*--mdc-theme-primary: #8bc34a;*/
    --mdc-theme-primary: #fff;
    display: block;
    width: 100%;
    margin: 8px 0;

}


.nav-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
}

.nav-btns-div {
    padding: 0 5px;
}

.mdc-text-field {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

.mdc-floating-label {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}


/*-----------------------*/
/*      Grid Layout      */
/*-----------------------*/

/*.root { grid-area: root; }*/
.nav-bar {
    grid-area: nav;
}

.contents {
    grid-area: content;
}

/*.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: compatBrowsers; }
.item5 { grid-area: compatOS; }
.item6 { grid-area: compatHardware; }
.item4-5-header { grid-area: compatHeader; }*/
.root {
    display: inline-grid;
    /*display: grid;*/
    grid-template-areas:
    'nav content';

    /*'nav content';*/
    /*'main main main main compatBrowsers compatOS compatHardware';*/
    /*'menu footer footer footer footer footer';*/

    /*background-color: #2196F3;*/

    /*grid-template-columns: auto;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;*/

    grid-gap: 20px;
    /*padding: 20px;*/
    width: 100%;
    /*grid-template-columns: 1fr 1fr 1fr 1fr fit-content(100%) fit-content(100%);*/
    /*grid-template-columns: min-content 1fr 1fr 1fr fit-content(100%) fit-content(100%);*/
    grid-template-columns: fit-content(100%) 1fr;
    /*grid-template-columns: fit-content(100%) 1fr;*/
}


/* Contents Styling */
.welcome {
    /*text-align: center;*/
    /*align-content: center;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    margin: auto;
}

.welcome-icon {
    font-size: 5rem !important;
    color: #1e79be;
}