@import "parts/admin_card_view.css";

/*-----------------------*/
/* billing table styling */
/*-----------------------*/

@import "billing_print.css";
@import "parts/global.css";

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}


.tools-button {
    --mdc-theme-primary: #1e79be;
    width: 100%;
}

.mdc-text-field {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

.mdc-floating-label {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}

h3 {
    font-size: 14px !important;
    font-weight: bold !important;
}

div.row.typ-billing-container > div {
    padding-right: 6px;
    padding-left: 6px;
}

div.row.typ-billing-container label {
    margin-right: 6px;
}