@import "parts/admin_card_view.css";

/*-----------------------*/
/* billing table styling */
/*-----------------------*/

@import "billing_print.css";
@import "parts/global.css";

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}

h3 {
    font-size: 14px !important;
    font-weight: bold !important;
}

div.row.typ-billing-container > div {
    padding-right: 6px;
    padding-left: 6px;
}

div.row.typ-billing-container label {
    margin-right: 6px;
}

.billing-sidebar{
    max-width: 300px;
}

.buttons-colvis{
    background-color: #6c757d;
}

.dt-button-collection > .dropdown-menu{
    width: 200px;
    padding: 0;
}
.dt-button-collection .dropdown-item{
    padding: 8px;
    border-bottom: solid white 1px;
}
.dt-button-collection .dropdown-item:hover {
    background-color: var(--vspt-blue-dark-hover);
}
.dt-button-collection .dropdown-item.active{

    background-color: var(--vspt-blue-dark);
}

tr> td:first-child > div{
    white-space: nowrap;
}

.billing-selection-table{
    width: 100%;
    /*box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);*/

}
.billing-selection-table td{
    padding: 4px 8px;
}

.billing-selection-table tr:nth-child(odd) > td{
    background-color: var(--vspt-blue-dark);
    color: white;
}
.billing-selection-table tr:nth-child(even) > td{
    background-color: #5b7f9a;
    color: white;
}

.billing-selection-table td:last-child{
    text-align: end;
    color: #212529;
}

.billing-selection-table tr:first-child > td{
    border-radius: 12px 12px 0 0;
    text-align: center;
    background-color: #394f60;
}

.vspt-summary-report-options{
    display: none;
}


.stats-col{
    grid-area: stats;
    max-width: 320px;
    background-color: #343a40;
    padding: 16px;

}

.panel-data
{
    grid-area: pdata;
    padding: 16px;
}

.vtex-card.contents{
    display: inline-grid;
    grid-template: 'pdata stats';
    grid-template-columns: 1fr fit-content(100%);
    padding: 0;
}

hr{
    border-color: var(--vspt-blue-dark);
}