@import "parts/card_view.css";
@import "parts/global.css";

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}


.tools-button {
    --mdc-theme-primary: #1e79be;
    width: 100%;
}

.mdc-text-field {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

.mdc-floating-label {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}

/*-----------------------*/
/*      Grid Layout      */
/*-----------------------*/

.item1 {
    grid-area: header;
}

.item2-header {
    grid-area: desc;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: compatBrowsers;
}

.item5 {
    grid-area: compatOS;
}

.item6 {
    grid-area: compatHardware;
}

.item7 {
    grid-area: compatDRHardware;
}

.item4-5-header {
    grid-area: compatHeader;
}

.grid-wrapper {
    display: inline-grid;
    /*display: grid;*/
    grid-template-areas:
    'desc menu menu menu menu menu menu menu'
    'header header header header compatHeader compatHeader compatHeader compatHeader'
    'main main main main compatBrowsers compatOS compatHardware compatDRHardware';
    /*'menu footer footer footer footer footer';*/
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 20px;
    /*grid-template-columns: auto;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;*/
    width: 100%;
    /*grid-template-columns: 1fr 1fr 1fr 1fr fit-content(100%) fit-content(100%);*/
    grid-template-columns: min-content 1fr 1fr 1fr fit-content(100%) fit-content(100%) fit-content(100%);
}

.grid-wrapper > div {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.grid-wrapper .compat-tbl {
    border-collapse: collapse;
}

.grid-wrapper .compat-tbl tr td {
    padding: 10px;
    border: 1px dashed #1e79be;
}

.grid-wrapper .compat-tbl tr th {
    padding: 10px;
    border: 1px solid #1e79be;
    /*border-radius: 8px 8px 0 0;*/
}

.check {
    text-align: center;
}

.controller-downloads-tbl {
    width: 100%;
    border-collapse: collapse;
}

.controller-downloads-tbl thead th {
    padding: 10px;
    text-align: left;
}

.controller-downloads-tbl tbody td {
    padding: 10px;
}

.controller-downloads-tbl thead {
    background: #1e79be;
    color: white;
}

.grid-headers {
    background-color: #1e79be !important;
    color: white;
    border-radius: 10px 10px 0 0;
    text-align: center !important;
}

a {
    color: #f5862c;
}

a:visited {
    color: #f5862c;
}

a:hover {
    color: #53a13d;
}

.item1 {
    border-radius: 0 10px 0 0;
}

.item2 {
    position: relative;
}

.item2 p {
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
    margin: 0;
    position: absolute;
    bottom: 0;
}

#container > div > div > div.item2-header.grid-headers > h3 {
    margin: 12px 18px;
}

.controller-downloads-tbl tbody tr:hover {
    box-shadow: inset 0 0 5px #1e79be;
}