/* ---------------------*/
/* --- TABLE STYLING  --*/
/* ---------------------*/
@import "parts/vtex-custom-styles.css";
@import "parts/global.css";


/* BODY */
.data-tbl {
    width: 100%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;

}


.job-comment {
    color: var(--vspt-blue);
    font-size: 18px !important;
    vertical-align: text-bottom;
    cursor: pointer;
}

.mdc-button--colored {
    color: white !important;
}

.dataTables_info {
    float: left !important;
}

.dt_toolbar{
    float: left;
}
#jobs-tbl_filter > label {
    display: inline-flex;
}

#jobs-tbl_paginate,
.dataTables_filter{
    text-align: right;
}
.pagination{
    float: right;
}
.dataTables_paginate > ul > li:not(.active) > a.page-link
{
    color: hsl(206, 73%, 37%) !important;
}