/* --------------------------------*/
/* vScription Transcribe Modal Box */
/* --------------------------------*/
@import "parts/vtex-custom-styles.css";
@import "parts/modal_popup.css";
@import "parts/global.css";


/* upload_form_2 */
#report {
    resize: both;
    overflow: auto;
    width: 60%;
}


/*form data*/
.form-style-5 {

    max-width: 90%;
    min-width: 860px;
    width: 90%;
    margin: 10px auto;
    padding: 12px 20px 15px 20px;
    border-radius: 8px;
    font-family: main, sans-serif !important;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.form-style-5 fieldset {
    border: none;
}

.form-style-5 legend {
    font-size: 1.4em;
    /*    margin-bottom: 10px;*/
    width: 100%;
}


.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}


#logbar {
    font-family: main, sans-serif !important;
    font-size: 12px;
}

.upload_cell {
    width: 50%;
    padding: 20px;
    vertical-align: top;
}

.logout {
    color: var(--vspt-blue);
    text-decoration: underline;
}


#save {
    margin-left: 1%;
}


#report {
    resize: both;
    overflow: auto;
    width: 100%;
    /*min-height: 30%;*/
}


#jobNo {
    width: 20%;
}

#authorName {
    width: 40%
}

#TypistName {
    width: 39%;

}

#comments {
    width: 34.5%;
}

#date, #dateT {
    width: 20%;
}

#comments, #date, #dateT {
    margin-bottom: 5px;
}

#jobType {
    width: 24%;
}

/*

#save,#clear{
    width: 50%;
}*/
/*

#report_ifr.tooltip{
    display: none !important;
}*/
/*#tip1,#tip2{
    font-size: 1.0em;
    width: 10%;

}*/
#tip {
    font-size: 0.9em;

    font-family: main, sans-serif !important;
    display: inline;
    /*white-space: nowrap;*/
}

#norm {
    vertical-align: middle;
    /*vertical-align: text-top;*/
    width: 34px;
    height: auto;
}

#accord {
    padding: 0 10px 10px 10px;
    /*width: 440px;*/
    width: auto;
    /*height: 220px;*/
    /*!*float: right;*!border: 1px solid #5f3f3f;*/
    /*display:inline;*/
    /*float: right;*/
}

#leg {
    /*border: 1px solid #5f3f3f;*/
    width: auto;
    display: inline;
}

#mainlogo {
    float: none !important;

}

#header-tbl, #demo-tbl {
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    width: 100%;
}

#rep-tbl {
    width: 100%;
}

#nr {

    width: 1%;
    white-space: nowrap;
}


.audiobtns {
    width: 150px !important;
    padding: 6px !important;
    font-size: 15px !important;
    font-family: main, sans-serif !important;
}

legend, h3, button {
    font-family: main, sans-serif !important;
}

.title {
    font-family: main, sans-serif !important;
    font-size: 20px;
    font-weight: bold;
    color: var(--vspt-blue);
}

.spacer {
    height: 20px;
}

.noHover {
    pointer-events: none;
}


.alert-validate {
    background-color: #efdfdf !important;
}

#help {
    color: #2dace1;
    font-family: main-l, sans-serif;
}

.top-links a:link {
    color: #2dace1;
}

/* visited link */
.top-links a:visited {
    color: #2dace1;
    font-family: main-l, sans-serif;
}

/* mouse over link */
.top-links a:hover {
    color: #ec9433;
}

/* selected link */
.top-links a:active {
    color: hotpink;
}

table, th, td {
    /*  border: 1px solid black;*/
}

#loadBtn {
    display: block;
    max-width: 302px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.data-tbl {
    /*box-shadow: 0px 0px 16px #262626;*/
    /*background: white;*/
}

.page-title {
    color: white;
    font-weight: normal;
}

#logbar {
    color: whitesmoke;
    font-family: main, sans-serif !important;
    font-size: 12px;
}

#logbar a,
#navbtn a {
    color: #d4edff;
}

/* upload_form.css */

.preview {
    list-style: none;
}


/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

div form .submit_btn,
div form .clear_btn,
div form .upload_btn_lbl {
    /*background-color: #1e79be;*/
    padding: 5px 10px;
    border-radius: 5px;
    /*border: 1px ridge black;*/
    font-size: 0.9rem;
    height: auto;
    --mdc-theme-on-primary: white;
}

div form .submit_btn {
    --mdc-theme-primary: var(--vspt-btn-blue);
}

div form .upload_btn_lbl {
    --mdc-theme-primary: var(--vspt-btn-blue);
}

div form .clear_btn {
    --mdc-theme-primary: var(--vspt-btn-red);
}


/* --------------------------*/
/* --UPLOAD STATUS STYLING --*/
/* --------------------------*/


.ulInstructions {
    list-style: none;
}

.upload_limits {
    font-size: 12px;
}

div.upload_failed_message {
    display: none;
}

div.upload_success_message {
    display: none;
}

div.upload_success_message p {
    display: inline-block;
}

i.fas.fa-check-circle {
    float: left;
    padding-right: 15px;
    /*margin-left: 45%;*/
    font-size: 250%;
    color: green;
}

i.fas.fa-ban {
    float: left;
    padding-right: 15px;
    /*margin-left: 45%;*/
    font-size: 250%;
    color: red;
}

.upload {
    padding-left: 0;
}

.box6 p {
    padding-left: 30px;
}


input[type=date] {
    /*width: 75%;*/
    /*padding: 6px 20px;*/
    margin: 8px 0;
    display: block;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    font-size: 1rem;
    font-family: main, sans-serif !important;

    height: 56px;
    width: 94%;
    background-color: rgba(255, 255, 255, 0);


    /*padding: 6px 20px;*/
    padding: 0 16px;
    /*margin: 8px 0;*/
    /*display: block;*/
    border: 1px solid #97999a;
    border-radius: 4px;
    /*font-size: 1rem;*/
    color: #202020;
}


.box7 .upload_fields {
    padding-left: 30px;
    padding-bottom: 20px;
    width: 95% !important;
}


/* -----------------*/
/* --DEMOGRAPHICS STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}

select {
    /*width: 80%;*/

    height: 56px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);


    /*padding: 6px 20px;*/
    padding: 0 16px;
    /*margin: 8px 0;*/
    /*display: block;*/
    border: 1px solid #97999a;
    border-radius: 4px;
    font-size: 1rem;
    color: #202020;
    font-family: main, sans-serif !important;


    /*font-family: Lato;*/
    /*line-height: 100%;*/
}

select option {
    /*width: 80%;*/

    height: 56px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);


    /*padding: 6px 20px;*/
    padding: 0 16px;
    /*margin: 8px 0;*/
    /*display: block;*/
    border: 1px solid #97999a;
    border-radius: 4px;
    font-size: 1rem;
    color: #202020;

    /*font-family: Lato;*/
    /*line-height: 100%;*/
}

input[type=text],
.demo_author {
    /*width: 96%;*/
    font-size: 1.0rem;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    height: 36px;
    /*border: 1px solid #97999a;*/
    border-radius: 4px;
    color: #202020;
    font-family: main, sans-serif !important;
}

#demo_comments {
    /*width: 96%;*/
    font-size: 1.0rem;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    /*border: 1px solid #97999a;*/
    /*border-radius: 4px;*/
    color: #202020;
    font-family: main, sans-serif !important;
}

input[type=date]:focus,
input[type=text]:focus,
#demo_comments:focus,
select:focus,
.demo_author:focus {
    /*width: 80%;*/

    border-color: #1e79be !important;
    outline-color: #1e79be !important;;
    border-style: inset;

    /*font-family: Lato;*/
    /*line-height: 100%;*/
}

.mdc-text-field {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

.mdc-floating-label {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}


/* Additional Specific Styling to modal */
.modal {
    background-color: rgb(30, 121, 190); /* Fallback color */
    background-color: rgba(30, 121, 190, 0.9); /* Black w/ opacity */
}

/* Styling for progress bar */
.mdc-linear-progress {
    --mdc-theme-primary: #1e79be;
}

table {
    border-radius: 10px;
}

#cancelUpload {
    --mdc-theme-primary: #B00020;
}

#confirmUpload {
    --mdc-theme-primary: #53a13d;
    display: none;
}

.modal-buttons {
    text-align: right;
    margin-top: 15px;
}

.previewModal {
    margin-top: 15px;
}


/* QUEUED FOR UPLOAD FILES TABLE */
.que-files {
    /*border-radius: 15px;*/
    margin-left: 30px;
    border-collapse: collapse;
}

.que-files tr:last-child {
    /*border-collapse: collapse;*/
    border: solid #1e79be;
    border-width: 0 0 3px 0;
}

.que-files tr:hover {
    /*border-collapse: collapse;*/
    background: rgba(30, 121, 190, 0.1);
}

.que-files > tr:nth-child(1) > th:nth-child(1) {

    border-radius: 15px 0 0 0;
    border-collapse: collapse;
}

.que-files > tr:nth-child(1) > th:nth-child(5) {
    border-radius: 0 15px 0 0;
    /*border-collapse: collapse;*/
}

.que-files > tr > th {
    text-align: start;
    /*border-collapse: collapse;*/
    padding: 10px;
    background: #1e79be;
    color: white;
}

.que-files > tr > td {
    text-align: start;
    /*border: groove #1e79be;*/
    /*border-collapse: collapse;*/
    padding: 10px;
}