@import "parts/global.css";


/* From job_lister_form_5.css */
#report {
    resize: both;
    overflow: auto;
    width: 60%;
}


.form-style-5 {

    max-width: 90%;
    min-width: 860px;
    width: 90%;
    /*    padding: 10px 20px;*/
    /*    background: #f4f7f8;*/
    margin: 10px auto;
    padding: 1px 20px 15px 20px;
    /*background: #f4f7f8;*/
    border-radius: 8px;
    font-family: main, sans-serif !important;
    /*box-shadow: 0px 0px 16px #262626;*/

    -webkit-transition: width 1s;
    transition: width 1s;
}

.form-style-5 fieldset {
    border: none;
}

.form-style-5 legend {
    font-size: 1.4em;
    /*    margin-bottom: 10px;*/
    width: 100%;
}


.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}


.upload_cell {
    width: 50%;
    padding: 10px;
    vertical-align: top;
}

.logout {
    color: var(--vspt-blue);
    text-decoration: underline;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
    /*background: #d2d9dd;*/
}

/*.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}*/

#save {
    margin-left: 1%;
}

#report {
    resize: both;
    overflow: auto;
    width: 100%;
    /*min-height: 30%;*/
}


#jobNo {
    width: 20%;
}

#authorName {
    width: 40%
}

#TypistName {
    width: 39%;

}

#comments {
    width: 34.5%;
}

#date, #dateT {
    width: 20%;
}

#comments, #date, #dateT {
    margin-bottom: 5px;
}

#jobType {
    width: 24%;
}

#tip {
    font-size: 0.9em;

    font-family: main, sans-serif !important;
    display: inline;
    /*white-space: nowrap;*/
}

#norm {
    vertical-align: middle;
    /*vertical-align: text-top;*/
    width: 34px;
    height: auto;
}

#accord {
    padding: 0 10px 10px 10px;
    /*width: 440px;*/
    width: auto;
    /*height: 220px;*/
    /*!*float: right;*!border: 1px solid #5f3f3f;*/
    /*display:inline;*/
    /*float: right;*/
}

#leg {
    /*border: 1px solid #5f3f3f;*/
    width: auto;
    display: inline;
}

#mainlogo {
    float: none !important;

}

#header-tbl, #demo-tbl {
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.data-tbl {
    box-shadow: 0 0 16px #262626;
    width: 100%;
    background: white;
}

#rep-tbl {
    width: 100%;
}

#nr {

    width: 1%;
    white-space: nowrap;
}


legend, h3, button {
    font-family: main, sans-serif !important;
}

.title {
    font-family: main, sans-serif !important;
    font-size: 20px;
    /*font-weight: bold;*/
    /*color: #1e79be;*/
    color: white;
}

#logbar {
    color: whitesmoke;
    font-family: main, sans-serif !important;
    font-size: 12px;
}

#logbar a {
    color: #6ab8f3;
}

.spacer {
    height: 20px;
}

.noHover {
    pointer-events: none;
}


.alert-validate {
    background-color: #efdfdf !important;
}

#help {
    color: #2dace1;
    font-family: main-l, sans-serif;
}

.top-links a:link {
    color: #2dace1;
}

/* visited link */
.top-links a:visited {
    color: #2dace1;
    font-family: main-l, sans-serif;
}

/* mouse over link */
.top-links a:hover {
    color: #ec9433;
}

/* selected link */
.top-links a:active {
    color: hotpink;
}

#loadBtn {
    display: block;
    max-width: 302px;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* ---------------------*/
/* ---BODY STYLING  --*/
/* ---------------------*/

:root {
    --light-bg-color: #3498db;
    --dark-bg-color: #2c3e50;
}


h1 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(0, 155, 194);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

a:hover {
    color: rgb(83, 192, 235);
}

code, code * {
    font-size: 13px;
    font-family: monospace;
}

code {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(172, 172, 172);
    background: rgb(46, 46, 46);
}

/* Keyword */
code .value,
code .keyword {
    color: #f30084;
}

code .tag,
code .string {
    color: #8BC9D5;
}

code .attribute,
code .params {
    color: #fff;
}


/*body{
    !*    background-color: #193f54;*!
    !*    background-color: #1d7ec1;*!
    font-family: 'OpenSans', serif;
    !*	Between Night And Sky   *!
    background: var(--dark-bg-color);  !* fallback for old browsers *!
    background: -webkit-linear-gradient(to right, var(--light-bg-color), var(--dark-bg-color) );  !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to right,  var(--light-bg-color), var(--dark-bg-color) ); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!

}*/

/*

body {
    font-size: 16px;
    font-family: Lato;
}

.preview {
    font-style: italic;
}
*/

.mdc-data-table {
    width: 100%;
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    /*--mdc-theme-background:#1e79be;*/
    /*--mdc-theme-surface:#1e79be;*/
    --mdc-theme-on-secondary: #1e79be;
    /*--mdc-theme-on-surface:#1e79be;*/
}

.mdc-data-table__row--selected {
    /*background: rgba(30, 121, 190, 0.1);*/
    background: rgba(232, 142, 43, 0.1);
}

.mdc-data-table__header-row {
    /*background: rgba(30, 121, 190, 0.6);*/
    background: rgba(30, 121, 190, 0.9);

}

.mdc-data-table__header-cell {
    color: white !important;
    font-weight: bold;
    /*font-size: 0.9rem;*/
    font-family: main, sans-serif !important;
    padding-left: 10px !important;
}

.mdc-data-table__cell {
    font-family: main, sans-serif !important;
}

.logout {
    /*color: whitesmoke !important;*/
    /*text-decoration: underline;*/
    font-size: 13px !important;
}

.data-tbl {
    width: 100%;
    border-collapse: separate;
    padding: 24px 1% 2.5%;

}

/* Table Search Input position fix for bootstrap */

#jobs-tbl_filter > label {
    display: inline-flex;
}


#jobs-tbl_wrapper > div.mdc-layout-grid.dt-table {
    width: inherit;
}

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

div form label,
div.listControl label,
.refresh,
.newupload {
    background-color: var(--vspt-blue);
    padding: 5px 10px;
    border-radius: 5px;
    /*border: 1px ridge black;*/
    font-size: 0.8rem;
    height: auto;
}

div form label:hover,
div.listControl label:hover,
.refresh:hover,
.newupload:hover {
    background-color: #2D5BA3;
    color: white;
}

div form label:active,
div.listControl label:active,
.refresh:active,
.newupload:active {
    background-color: #0D3F8F;
    color: white;
}

#newupload_btn, #refresh_btn, .vtex-mtb {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: white;
}


/* -----------------*/
/* --UPLOAD STATUS STYLING --*/
/* -----------------*/


div.upload_failed_message {
    display: none;
}

div.upload_success_message {
    display: none;
}

div.upload_success_message p {
}

i.fas.fa-check-circle {
    float: left;
    padding-right: 15px;
    margin-left: 45%;
    font-size: 250%;
    color: green;
}

i.fas.fa-ban {
    float: left;
    padding-right: 15px;
    margin-left: 45%;
    font-size: 250%;
    color: red;
}

.upload {
    padding-left: 30px;
}

.box6 p {
    padding-left: 30px;
}

/* -----------------*/
/* --DEMOGRAPHICS STYLING --*/
/* -----------------*/

input[type=text]:not(.dt-search),
textarea {
    width: 75%;
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: main, sans-serif;
}

input[type=date] {
    width: 75%;
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-family: main, sans-serif;
}


.box7 .upload_fields {
    padding-left: 30px;
    padding-bottom: 20px;
    width: 75% !important;
}

.joblist {
    margin-left: 20px;
}

/*

.upload_fields input{

}
*/

/* ------------------------------*/
/* -- Additional Table Styling --*/
/* ------------------------------*/
table {
    border-radius: 10px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    height: 32px !important;
}

/* MDC Comments column */
.textarea-holder {
    /*min-width: 170px !important;*/
    /*max-width: 170px !important;*/
    /*width: 170px !important;*/
    /*min-height: 35px !important;*/
}

.textarea-holder textarea {
    min-width: 170px !important;
    max-width: 170px !important;
    width: 100% !important;
    white-space: nowrap;
    /*min-height: 40px !important;*/
    padding: 5px 3px 10px 3px !important;
    /*margin-top: 10px;*/
    outline: none;
    resize: none;
    border-color: Transparent !important;
    font-family: main, sans-serif !important;
    font-size: 0.875rem;
    vertical-align: center;
}

.textarea-holder {
    padding: 0 !important;
}

.download-icon {
    /*font-size: 20px;*/
    vertical-align: bottom;
    cursor: pointer;
}

.view-icon {
    /*font-size: 20px;*/
    vertical-align: bottom;
    cursor: pointer;
}

td .times-downloaded {
    /*text-align: center;*/
    vertical-align: bottom !important;
    font-family: main, sans-serif !important;
}

.times-downloaded-header {
    /*text-align: center;*/
    max-width: 8em !important;
    width: 6em !important;
}

.job-comment {
    color: var(--vspt-blue);
    font-size: 18px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.mdc-button--colored {
    color: white !important;
}

.top-links {
    vertical-align: bottom;
}

.mdc-data-table {
    overflow: hidden;
}

.mdc-layout-grid.dt-table {
    overflow-x: auto;
}

#jobs-tbl > tfoot tr th
{
    padding: 4px 2px !important;
}


select, .dt-search {
    /*width: 100%;*/
    /*!*padding: 6px 20px;*!*/
    /*margin: 8px 0;*/
    /*display: block;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*font-size: 16px;*/
    /*font-family: main, sans-serif;*/
}

.dt-bootstrap4 > div:nth-child(2){
    overflow-x: auto;
    margin-left: 0;
    margin-right: 0;
}

.jlre {
    margin-left: auto;
    font-size: .6em;
    color: limegreen;
}
.jlrd {
    margin-left: auto;
    font-size: .6em;
    color: gray;
}

.custom-info-font-awesome{
    display: inline-block;
    color: var(--vspt-blue);
    cursor: pointer;
    font: normal normal normal 16px/1 FontAwesome;
    /*font-size: inherit;*/
    text-rendering: auto;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-info-font-awesome:before{
    vertical-align: middle;
}

.tooltip-inner{
    max-width: 400px !important;
    background-color: #2a2a2a !important;
}