@import "parts/modal_popup.css";
@import "parts/admin_card_view.css";
@import "parts/card.css";
@import "parts/data-tbl.css";
@import "parts/colors.css";

/* ---------------- */
/* JQUERY OVERRIDE  */
/* ---------------- */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #1e79be;
    background: #1e79be;
    font-weight: normal;
    color: #ffffff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: white;
}

/* ---------------- */
/* CREATE ACC MODAL */
/* ---------------- */
.modal-content {
    width: 60%;
    min-width: 650px;
}

.cancel-acc-button {
    --mdc-theme-primary: var(--vtex-red);
}

.ui-state-active.vtex-jq-lbl-check,
.ui-state-active:hover.vtex-jq-lbl-check,
.ui-button:active.vtex-jq-lbl-check {
    border: 1px solid #53a13d;
    background: #53a13d;
}

.ui-state-active.vtex-jq-lbl-cross,
.ui-state-active:hover.vtex-jq-lbl-cross,
.ui-button:active.vtex-jq-lbl-cross {
    border: 1px solid var(--vtex-red);
    background: var(--vtex-red);
}

.ui-autocomplete {
    z-index: 9501 !important;
}

/* COMBO BOX STYLING */
.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}


.tools-button {
    /*--mdc-theme-primary: #8bc34a;*/
    --mdc-theme-primary: #fff;
    display: block;
    width: 100%;
    margin: 8px 0;

}


.nav-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
}

.nav-btns-div {
    padding: 0 5px;
}

.mdc-text-field {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

.mdc-floating-label {
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background: #1e79be;
    --mdc-theme-surface: #1e79be;
    --mdc-theme-on-secondary: #1e79be;
    --mdc-theme-on-surface: #1e79be;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}


/*-----------------------*/
/*      Grid Layout      */
/*-----------------------*/

.nav-bar {
    grid-area: nav;
}

.contents {
    grid-area: content;
}

.root {
    /*display: inline-grid;*/
    display: grid;
    grid-template-areas:
    'nav content';
    grid-gap: 20px;
    width: 100%;
    /*grid-template-columns: 0.17fr 1fr;*/
    grid-template-columns: fit-content(100%) 1fr;
}
/* Billing Rate 1 Grid */
.br1{grid-area: br1;}
.br1min{grid-area: br1min;}
.br1tat{grid-area: br1tat;}

.br1desc > label{grid-area: br1descLbl; margin: auto 0 auto auto;}
.br1desc > input{grid-area: br1descInput; margin: auto 0;}
.br1desc{
    grid-area: br1desc;
    display: inline-grid;
    grid-template-areas:
    'br1descLbl br1descInput';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr;
}

.br1type > label{grid-area: br1typelbl; margin: auto 0 auto auto;}
.br1type > span,
.br1type > select {
    grid-area: br1typeSp;
    margin: auto 0;
}

.br1type{
    grid-area: br1type;
    display: inline-grid;
    grid-template-areas:
    'br1typelbl br1typeSp br1typeSp';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr 1fr;
}

.bill1-grid{
    display: grid;
    grid-template-areas:
    'br1 br1type br1type'
    'br1min br1desc br1desc'
    'br1tat . .';
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: fit-content(100%) 1fr 1fr;
}
/* END Billing Rate 1 Grid */


/* Billing Rate 2 Grid */
.br2{grid-area: br2;}
.br2min{grid-area: br2min;}
.br2tat{grid-area: br2tat;}

.br2desc > label{grid-area: br2descLbl; margin: auto 0 auto auto;}
.br2desc > input{grid-area: br2descInput; margin: auto 0;}
.br2desc{
    grid-area: br2desc;
    display: inline-grid;
    grid-template-areas:
    'br2descLbl br2descInput';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr;
}

.br2type > label{grid-area: br2typelbl; margin: auto 0 auto auto;}
.br2type > span,
.br2type > select {
    grid-area: br2typeSp;
    margin: auto 0;
}

.br2type{
    grid-area: br2type;
    display: inline-grid;
    grid-template-areas:
    'br2typelbl br2typeSp br2typeSp';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr 1fr;
}

.bill2-grid{
    display: grid;
    grid-template-areas:
    'br2 br2type br2type'
    'br2min br2desc br2desc'
    'br2tat . .';
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: fit-content(100%) 1fr 1fr;
}
/* END Billing Rate 2 Grid */


/* Billing Rate 3 Grid */
.br3{grid-area: br3;}
.br3min{grid-area: br3min;}
.br3tat{grid-area: br3tat;}

.br3desc > label{grid-area: br3descLbl; margin: auto 0 auto auto;}
.br3desc > input{grid-area: br3descInput; margin: auto 0;}
.br3desc{
    grid-area: br3desc;
    display: inline-grid;
    grid-template-areas:
    'br3descLbl br3descInput';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr;
}

.br3type > label{grid-area: br3typelbl; margin: auto 0 auto auto;}
.br3type > span,
.br3type > select {
    grid-area: br3typeSp;
    margin: auto 0;
}

.br3type{
    grid-area: br3type;
    display: inline-grid;
    grid-template-areas:
    'br3typelbl br3typeSp br3typeSp';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr 1fr;
}

.bill3-grid{
    display: grid;
    grid-template-areas:
    'br3 br3type br3type'
    'br3min br3desc br3desc'
    'br3tat . .';
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: fit-content(100%) 1fr 1fr;
}
/* END Billing Rate 3 Grid */

/* Billing Rate 4 Grid */
.br4{grid-area: br4;}
.br4min{grid-area: br4min;}
.br4tat{grid-area: br4tat;}

.br4desc > label{grid-area: br4descLbl; margin: auto 0 auto auto;}
.br4desc > input{grid-area: br4descInput; margin: auto 0;}
.br4desc{
    grid-area: br4desc;
    display: inline-grid;
    grid-template-areas:
    'br4descLbl br4descInput';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr;
}

.br4type > label{grid-area: br4typelbl; margin: auto 0 auto auto;}
.br4type > span,
.br4type > select {
    grid-area: br4typeSp;
    margin: auto 0;
}

.br4type{
    grid-area: br4type;
    display: inline-grid;
    grid-template-areas:
    'br4typelbl br4typeSp br4typeSp';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr 1fr;
}

.bill4-grid{
    display: grid;
    grid-template-areas:
    'br4 br4type br4type'
    'br4min br4desc br4desc'
    'br4tat . .';
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: fit-content(100%) 1fr 1fr;
}
/* END Billing Rate 4 Grid */


/* Billing Rate 5 Grid */
.br5{grid-area: br5;}
.br5min{grid-area: br5min;}
.br5tat{grid-area: br5tat;}

.br5desc > label{grid-area: br5descLbl; margin: auto 0 auto auto;}
.br5desc > input{grid-area: br5descInput; margin: auto 0;}
.br5desc{
    grid-area: br5desc;
    display: inline-grid;
    grid-template-areas:
    'br5descLbl br5descInput';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr;
}

.br5type > label{grid-area: br5typelbl; margin: auto 0 auto auto;}
.br5type > span,
.br5type > select {
    grid-area: br5typeSp;
    margin: auto 0;
}

.br5type{
    grid-area: br5type;
    display: inline-grid;
    grid-template-areas:
    'br5typelbl br5typeSp br5typeSp';
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 105px 1fr 1fr;
}

.bill5-grid{
    display: grid;
    grid-template-areas:
    'br5 br5type br5type'
    'br5min br5desc br5desc'
    'br5tat . .';
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: fit-content(100%) 1fr 1fr;
}
/* END Billing Rate 5 Grid */


/* Retention Grid */
.rt1{grid-area: acc;}
.rt2{grid-area: actlog;}

.retention-grid{
    display: grid;
    grid-template-areas:
    'acc actlog';
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
/* END Billing Rate 5 Grid */

.accounts-tbl-title {
    grid-area: tbl-title;
}

.refresh-button {
    grid-area: refresh;
}

.vtex-top-bar {
    display: inline-grid;
    grid-template-areas:
    'tbl-title refresh';
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: 1fr min-content;
}


/* Contents Styling */
.welcome {
    /*text-align: center;*/
    /*align-content: center;*/
    margin-left: auto;
    margin-right: auto;
}

.welcome-icon {
    font-size: 5rem !important;
    color: #1e79be;
}

.accounts-tbl-title {
    margin: 0 0 15px 0;
}

.refresh-button {
    --mdc-theme-primary: #1e79be;
}

label{
    font-size: larger;
    color: #4c4c4c;
    font-weight: bold;
}

.context-menu-item{font-family:oxygen, serif}