* {
    margin: 0;
    padding: 0;
}
body {
    padding: 10px;
}

.header .head-right img {
    width: 350px;
    height: auto;
}

.header .head-left h2 {
    font-family: 'OpenSans', serif;
}

.report {
    border: 1px solid;
    font-family: 'OpenSans', serif;
    font-size: 14px;
    padding: 5px;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

thead tr {
    margin: 5px;
    background-color: aqua;

}

tbody {
    margin: 5px;
    background-color: lightgray;
}

.jobnum {
    width: 100px;
}

.author {
    width: 200px;
}

.jobtype {
    width: 125px;
}
.datedict {
    width: 100px;
}
.audiolength {
    width: 75px;
}
.transdate {
    width: 125px;
}

p {
    font-family: 'OpenSans', serif;
    font-size: 14px;
    text-align: right;
    margin-right: 15%;
}