@import "parts/vars.css";
@import "parts/spinner.css";
@import "parts/modal_overlay.css";
/*@import "parts/bootstrap-override.css";*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: oxygen, sans-serif;
}

.login100-form-btn{
    text-transform: capitalize !important;
}

body {
    width: 100%;
    margin-bottom: 100px;
    background-color: #2c3e50;
    overflow: hidden !important;
}

/*body
{
    background-color: black;

    animation: 3s infinite alternate ease-out breathing-color--dark;
}

@keyframes breathing-color--dark {
    from
    {
        background-color: #2c3e50;
    }
    to
    {
        background-color: #2c504e;
    }
}*/



label {
    color: white;
}

.text-muted {
    color: #dce4eb !important;
}

/*---------------------------------------------*/
a {
    font-family: oxygen, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    /*color: #666666;*/
    color: #dce4eb;
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: var(--vtex-orange);
    /*color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);*/
}

/*---------------------------------------------*/

p {
    font-family: oxygen, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0;
}

ul, li {
    margin: 0;
    list-style-type: none;
}


/*---------------------------------------------*/
.wrap-login100-form-btn {
    border-radius: 4px !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Signup ]*/

.vtex-signup-wrap {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    /*	Between Night And Sky   */
    background: rgba(255, 255, 255, 0); /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, rgba(52, 152, 219, 0), var(--vtex-blue) );  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, rgba(52, 152, 219, 0), var(--vtex-blue) ); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    /*  background: #f2f2f2;  */
}

.vtex-signup-container {
    width: 550px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    /*border: 3px groove rgba(30, 121, 190, 0.37);*/
    overflow: hidden;
    padding: 40px 55px 33px 55px;

    /*box-shadow: 0 5px 10px 0px rgba(38,38,38,1);*/
    /*  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);*/
    /*	#bfbfbf*/

    /*-moz-box-shadow: 0 5px 10px 0px rgba(38,38,38,1);*/
    /*-webkit-box-shadow: 0 5px 10px 0px rgba(38,38,38,1);*/
    /*-o-box-shadow: 0 5px 10px 0px rgba(38,38,38,1);*/
    /*-ms-box-shadow: 0 5px 10px 0px rgba(38,38,38,1);*/

    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;

    /*
        -webkit-transition: height 2s;
      transition: height 2s;
    */
}

/*------------------------------------------------------------------
[ Form ]*/

.vtex-signup-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    /*  font-family: Poppins-Bold;*/
    font-family: oxygen-l, sans-serif;
    font-size: 30px;
    color: white;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*------------------------------------------------------------------
 [ Button ]*/
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    /*	background: -webkit-linear-gradient(to left, #ffd194, #70e1f5, #ffd194, #70e1f5);*/
    background: -webkit-linear-gradient(to left, #fcb63a, #249fd9, #249fd9, #70e1f5);
    background: linear-gradient(to left, #fcb63a, #249fd9, #fcb63a, #249fd9);
    /*	background: linear-gradient(to left, #ffd194, #70e1f5, #ffd194, #70e1f5);*/
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: oxygen, sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}

/* custom bootstrap override */
.invalid-feedback {
    color: #ffde75;
}

.valid-feedback{
    color: #4fff78;
}

.country-box, .state-box{
    display: none;
}