/* --------------------------------*/
/* vScription Transcribe Modal Box */
/* --------------------------------*/

@import "parts/modal_popup.css";

/* Modal loading edits */
#modalLoading .modal-content h2{
    text-align: center;
}

#modalLoading .modal-content{
    width: fit-content;
    min-width: 300px;
}

#loading_confirm{
    display: none;
}

@font-face {
    font-family: oxygen;
    src: url("../Fonts/Oxygen-Regular.ttf");
}
/*@font-face {
  font-family: oxygen-b;
  src: url("../Fonts/Oxygen-Bold.ttf");
}*/
@font-face {
    font-family: oxygen-l;
    src: url("../Fonts/Oxygen-Light.ttf");
}

#report{
    resize: both;
    overflow: auto;
    width: 60%;
}

body{
    /*    background-color: #193f54;*/
    /*    background-color: #1d7ec1;*/

    margin: 0 0 8px 0;
    /*	Between Night And Sky   */
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    /*background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);*/
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    /*background-image: linear-gradient(270deg, #fff1eb 0%, #ace0f9 100%);*/
    /*background-image: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);*/
}


/*form data*/
.form-style-5{

    max-width: 90%;
    min-width: 860px;
    width: 90%;
    /*    padding: 10px 20px;*/
    background: #f4f7f8;
    margin: 10px auto;
    padding: 12px 20px 15px 20px;
    border-radius: 8px;
    font-family: 'Oxygen', serif  !important;
    box-shadow: 0 0 16px #262626;

    -webkit-transition: width 1s;
    transition: width 1s;
}

.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    /*    margin-bottom: 10px;*/
    width: 100%;
}


.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 select {
    font-family: 'Oxygen' , serif  !important;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    /*width: 100%;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
}



.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #4892cc;
    /*background: #eaaa3e;*/
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

img:not(#norm){
    float: right;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    /*display: block;*/
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    /*background: #eaaa3e;*/
    background: #4892cc;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 49%;
    border: 1px solid #4892cc;
    /*border: 1px solid #dfa84d;*/
    border-width: 1px 1px 3px;
    margin-bottom: 10px;

}

#save
{
    margin-left: 1%;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #6eb051;
    /*background: #d8a859;*/
}

#report{
    resize: both;
    overflow: auto;
    width: 100%;
    /*min-height: 30%;*/
}


#jobNo{
    width: 20%;
}

#authorName{
    width: 40%
}

#TypistName{
    width:39%;

}
#comments{
    width: 34.5%;
}

#date,#dateT{
    width: 20%;
}
#comments,#date,#dateT{
    margin-bottom: 5px;
}
#jobType{
    width: 24%;
}
/*

#save,#clear{
    width: 50%;
}*/
/*

#report_ifr.tooltip{
    display: none !important;
}*/
/*#tip1,#tip2{
    font-size: 1.0em;
    width: 10%;

}*/
#tip{
    font-size: 0.9em;

    font-family: 'Oxygen', sans-serif !important;
    display: inline;
    /*white-space: nowrap;*/
}

#norm{
    vertical-align: middle;
    /*vertical-align: text-top;*/
    width: 34px;
    height: auto;
}
#accord {
    padding: 0px 10px 10px 10px;
    /*width: 440px;*/
    width: auto;
    /*height: 220px;*/
    /*!*float: right;*!border: 1px solid #5f3f3f;*/
    /*display:inline;*/
    /*float: right;*/
}

#leg{
    /*border: 1px solid #5f3f3f;*/
    width:auto;
    display:inline;
}

#mainlogo{
    float: none !important;
    height: 125px;

}
#header-tbl,#demo-tbl{
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    width: 100%;
}
#rep-tbl{
    width: 100%;
}
#nr{

    width: 1%;
    white-space: nowrap;
}

#mainlogo-td{
    /*	 white-space:nowrap;*/
    width: 1%;
    vertical-align: top;
    padding-top: 27px;
}

#audio-td{
    align: right;
}

.audiobtns{
    width: 150px !important;
    padding: 6px !important;
    font-size: 15px !important;
    font-family: 'Oxygen' !important;
}

legend, h3,button{
    font-family: 'Oxygen' !important;
}

.noHover{
    pointer-events: none;
}


/* Validation */

/*
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}*/

.alert-validate {
    background-color: #efdfdf !important;
}

#help{
    color: #2dace1;
    font-family: oxygen-l;
}

.top-links a:link {
    color: #2dace1;
}

/* visited link */
.top-links a:visited {
    color: #2dace1;
    font-family: oxygen-l;
}

/* mouse over link */
.top-links a:hover {
    color: #ec9433;
}

/* selected link */
.top-links a:active {
    color: hotpink;
}

table, th, td {
    /*  border: 1px solid black;*/
}

/*#loadBtn{
    display: block;
    max-width: 302px;
    text-overflow: ellipsis;
    overflow: hidden;
}*/

#updated_version_bar{
    display:none;
    padding: 5px;
    width: 100%;
    background: #f5862c;
    text-align: center;
    vertical-align: center;
    font-family: "oxygen", serif;
    color: white;
}

#updated_version_bar a{
    color: white;
}

/*
.tblButtons button {
    display: inline-block;
    margin: auto;
    color: purple;
    text-align: center;
}
*/


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ---------------------*/
/* --- TABLE STYLING  --*/
/* ---------------------*/


.mdc-data-table{
    width: 100%;
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be ;
    --mdc-theme-secondary: #1e79be;
    /*--mdc-theme-background:#1e79be;*/
    /*--mdc-theme-surface:#1e79be;*/
    --mdc-theme-on-secondary:#1e79be;
    /*--mdc-theme-on-surface:#1e79be;*/
}

.mdc-data-table__row--selected{
    /*background: rgba(30, 121, 190, 0.1);*/
    background: rgba(232, 142, 43, 0.1);
}

.mdc-data-table__header-row{
    background: rgba(30, 121, 190, 0.9) !important;

}
.mdc-data-table__header-cell{
    color: white !important;
    font-weight: bold;
    /*font-size: 0.9rem;*/
    /*font-family: oxygen;*/
    padding-left: 10px !important;
}

.data-tbl{
    width: 100%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;

}

.mdc-data-table__cell, .mdc-data-table__header-cell{
    height: 32px !important;
}
.userinfo {
    display: inline;
    font-size: 12px;
    /*text-align:right;*/
}
.userinfo .userinfolbl {
    float:right;
    margin: auto;
    content: attr(data-ln-first);
}
.userinfo .typistemail {
    color: blue;
    float: right;
    content: attr(data-ln-last);
}

/* BUTTONS STYLING */
.save-button{
    --mdc-theme-primary: #66BB6A;
}

.suspend-button{
    --mdc-theme-primary: #FFA726;
}

.discard-button{
    --mdc-theme-primary: #E53935;
}


.load-button{
    --mdc-theme-primary: #5bba3f;
}

.confirm-button{
    --mdc-theme-primary: #66BB6A;
}

.mdc-button{
    padding: 20px !important;
}
.textarea-holder textarea{
    min-width: 170px !important;
    /*max-width: 170px !important;*/
    width: 100% !important;
    white-space: nowrap;
    min-height: 30px !important;
    padding: 3px !important;
    outline: none;
    resize: none;
    border-color: Transparent !important;
    font-family: 'oxygen', serif !important;
    font-size: 0.875rem;
    vertical-align: center;
}


.job-comment{
    color: #1e79be;
    font-size: 18px !important;
    vertical-align: text-bottom;
    cursor: pointer;
}

.controller-status{
    font-family: 'oxygen', serif;
    margin-right: 15px;
    vertical-align: bottom;
    color: #f78d2d;
}

u{
    cursor: pointer;
}

.mdc-button--colored{
    color: white !important;
}

.compact-view-btn, .logout-btn{
    -webkit-appearance: none;
    --mdc-theme-primary: #2dace1;
    height: 27px !important;
}

.download-controller{
    color: #0022f5;
    cursor: pointer;
}