@import "parts/admin_card_view.css";

/*-----------------------*/
/* billing table styling */
/*-----------------------*/
/*@import "billing_print.css";*/

@import "typist_print.css";
@import "parts/global.css";

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}


.tools-button {
    --mdc-theme-primary: #1e79be;
    width: 100%;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}

.typist-select {
    height: 23px;
}

.typist {
    margin: auto;
}

h3 {
    font-size: 14px !important;
    font-weight: bold !important;
}

div.row.typ-billing-container > div {
    padding-right: 6px;
    padding-left: 6px;
}

div.row.typ-billing-container label {
    margin-right: 6px;
}


.vspt-summary-table{
    width: 100%;
    /*box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);*/

}
.vspt-summary-table td{
    padding: 4px 8px;
}

.vspt-summary-table tr:nth-child(odd) > td{
    background-color: var(--vspt-blue-dark);
    color: white;
}
.vspt-summary-table tr:nth-child(even) > td{
    background-color: #5b7f9a;
    color: white;
}

.vspt-summary-table td:last-child{
    text-align: end;
    color: #212529;
}

.vspt-summary-table tr:first-child > td{
    border-radius: 12px 12px 0 0;
    text-align: center;
    background-color: #394f60;
}

.vspt-summary-report-options{
    display: none;
}


.buttons-colvis{
    background-color: #6c757d;
}

.dt-button-collection > .dropdown-menu{
    width: 200px;
    padding: 0;
}
.dt-button-collection .dropdown-item{
    padding: 8px;
    border-bottom: solid white 1px;
}
.dt-button-collection .dropdown-item:hover {
    background-color: var(--vspt-blue-dark-hover);
}
.dt-button-collection .dropdown-item.active{

    background-color: var(--vspt-blue-dark);
}


.find-acc-icon {
    vertical-align: bottom;
    color: var(--vspt-blue);
    float: right;
}

.find-acc-icon:hover {
    cursor: pointer;
    color: var(--vspt-orange);
}

/* Page Grid */

.stats-col{
    grid-area: stats;
    max-width: 320px;
    background-color: #343a40;
    padding: 16px;

}

.stats-col .input-group{
    flex-wrap: nowrap;
}

.panel-data
{
    grid-area: pdata;
    padding: 16px;
}

.vtex-card.contents{
    display: inline-grid;
    grid-template: 'pdata stats';
    /*grid-template-columns: 1fr fit-content(100%);*/
    grid-template-columns:  minmax(0, 1fr) 300px;
    padding: 0;
}

hr{
    border-color: var(--vspt-blue-dark);
}


/* responsive override */

#jobs-tbl > tbody > tr.child > td
{
    background-color: var(--vspt-blue-10);
}


table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
    padding-left: 30px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 11px;
    writing-mode: vertical-lr;
    justify-content: center;

    color: var(--vspt-blue);
    background-color: #fff;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: "\f078";
    writing-mode: vertical-lr;
    justify-content: center;
    color:  var(--vspt-blue);;
    background: #fff;
}
/*
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    content: "\f138";
    font-family: FontAwesome;
    font-size: 14px;
    writing-mode: vertical-lr;
    !*background-color: #898b8c; *!
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: "\f13a";
    writing-mode: vertical-lr;
    !*background: var(--vspt-blue);*!
}*/

/* Responsive styling */

td > sup{
    color: var(--vspt-orange);
    font-size: 12px;
}

#jobs-tbl li
{
    min-width: 300px;
}

#jobs-tbl li:not(:last-child){
    border-bottom: 1px solid lightgrey;
}
#jobs-tbl li{
    display: flex;
    justify-content: space-between;
}

#jobs-tbl li > span:last-child{
    /*width: 100%;*/
    /*display: block;*/
    margin-left: 12px;
    text-align: end;
    /*background-color: red;*/
}