@import "parts/admin_card_view.css";

/*-----------------------*/
/* billing table styling */
/*-----------------------*/
/*@import "billing_print.css";*/

@import "typist_print.css";
@import "parts/global.css";

/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}


.tools-button {
    --mdc-theme-primary: #1e79be;
    width: 100%;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn {
    font-size: 0.9em;
}

.typist-select {
    height: 23px;
}

.typist {
    margin: auto;
}

h3 {
    font-size: 14px !important;
    font-weight: bold !important;
}

div.row.typ-billing-container > div {
    padding-right: 6px;
    padding-left: 6px;
}

div.row.typ-billing-container label {
    margin-right: 6px;
}


.vspt-summary-table{
    width: 100%;
    /*box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);*/

}
.vspt-summary-table td{
    padding: 4px 8px;
}

.vspt-summary-table tr:nth-child(odd) > td{
    background-color: var(--vspt-blue-dark);
    color: white;
}
.vspt-summary-table tr:nth-child(even) > td{
    background-color: #5b7f9a;
    color: white;
}

.vspt-summary-table td:last-child{
    text-align: end;
    color: #212529;
}

.vspt-summary-table tr:first-child > td{
    border-radius: 12px 12px 0 0;
    text-align: center;
    background-color: #394f60;
}

.vspt-summary-report-options{
    display: none;
}


.buttons-colvis{
    background-color: #6c757d;
}

.dt-button-collection > .dropdown-menu{
    width: 200px;
    padding: 0;
}
.dt-button-collection .dropdown-item{
    padding: 8px;
    border-bottom: solid white 1px;
}
.dt-button-collection .dropdown-item:hover {
    background-color: var(--vspt-blue-dark-hover);
}
.dt-button-collection .dropdown-item.active{

    background-color: var(--vspt-blue-dark);
}


.find-acc-icon {
    vertical-align: bottom;
    color: var(--vspt-blue);
    float: right;
}

.find-acc-icon:hover {
    cursor: pointer;
    color: var(--vspt-orange);
}