/* ---------------------*/
/* --- TABLE STYLING  --*/
/* ---------------------*/

/* BODY */
body{
    font-family: 'oxygen', serif;
}

.mdc-data-table{
    width: 100%;
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be ;
    --mdc-theme-secondary: #1e79be;
    /*--mdc-theme-background:#1e79be;*/
    /*--mdc-theme-surface:#1e79be;*/
    --mdc-theme-on-secondary:#1e79be;
    /*--mdc-theme-on-surface:#1e79be;*/
}

.mdc-data-table__row--selected{
    /*background: rgba(30, 121, 190, 0.1);*/
    background: rgba(232, 142, 43, 0.1);
}

.mdc-data-table__header-row{
    background: rgba(30, 121, 190, 0.9) !important;

}
.mdc-data-table__header-cell{
    color: white !important;
    font-weight: bold;
    /*font-size: 0.9rem;*/
    /*font-family: oxygen;*/
    padding-left: 10px !important;
}

.data-tbl{
    width: 100%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;

}

.mdc-data-table__cell, .mdc-data-table__header-cell{
    height: 32px !important;
}

.job-comment{
    color: #1e79be;
    font-size: 18px !important;
    vertical-align: text-bottom;
    cursor: pointer;
}