/* ---------------------*/
/* ---PAGE GRID SETUP --*/
/* ---------------------*/
/*

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    !*grid-gap: 1em;*!
    justify-items: stretch;
    align-items: stretch;
}

!*.grid-wrapper > div {
        background: #eee;
        padding: 1em;
}*!

.grid-wrapper > div:nth-child(odd) {
    background: #ddd;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background: #ddd;
    grid-gap: 0;
    border-bottom: 1px solid;
    vertical-align: baseline;


}

.box2 {

    grid-row 1/3;
    background: #ddd;
    grid-gap: 0;
}

.box3 {

    grid-row: 2/4;
    text-align: right;
    background: #ddd;
    grid-gap: 0;
    border-bottom: 1px solid;

}

.box4 {
    grid-column: 1/2;
    border-left: 1px solid;
    border-right: 1px solid;
    grid-gap: 1em;
}

.box5 {
    grid-column: 1/2;
    border-left: 1px solid;
    border-right: 1px solid;
}

.box6 {

    grid-column: 1/2;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.box7 {
    grid-column: 2/3;
    grid-row: 4/7;
    border-right: 1px solid;
    border-bottom: 1px solid;

}

.box8 {
    grid-column: 1/3;
}

.box9 {
    grid-column: 1/3;
}
*/

/* ---------------------*/
/* ---COMMON STYLING  --*/
/* ---------------------*/
/*

h1 {
    font-size: 150%;
    padding: 20px;
    margin: 20px;
    vertical-align: baseline;
}


h3 {
    padding-left: 10px;
}

*/

/* ---------------------*/
/* ---HEADER STYLING  --*/
/* ---------------------*/
/*


.logo {
    width: 350px;
    height: auto;
    text-align: right;
    padding-right: 15px;
}

.logged_in_info {
    font-size: 75%;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
}
*/

/* ---------------------*/
/* ---TOP-RIGHT STYLING  --*/
/* ---------------------*/
/*

.logged_in_user {
    display: inline-block;
}

.logout_btn {
    display: inline-block;
    color: blue;
}
*/

/* ---------------------*/
/* ---BODY STYLING  --*/
/* ---------------------*/

:root {
    --light-bg-color: #3498db;
    --dark-bg-color: #2c3e50;
}

body{
    /*    background-color: #193f54;*/
    /*    background-color: #1d7ec1;*/
    
    /*	Between Night And Sky   */
    background: var(--dark-bg-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--light-bg-color), var(--dark-bg-color) );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  var(--light-bg-color), var(--dark-bg-color) ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*

body {
    font-size: 16px;
    font-family: Lato;
}

.preview {
    font-style: italic;
}
*/

.mdc-data-table{
    width: 100%;
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be ;
    --mdc-theme-secondary: #1e79be;
    /*--mdc-theme-background:#1e79be;*/
    /*--mdc-theme-surface:#1e79be;*/
    --mdc-theme-on-secondary:#1e79be;
    /*--mdc-theme-on-surface:#1e79be;*/
}

.mdc-data-table__row--selected{
    /*background: rgba(30, 121, 190, 0.1);*/
    background: rgba(232, 142, 43, 0.1);
}

.mdc-data-table__header-row{
    /*background: rgba(30, 121, 190, 0.6);*/
    background: rgba(30, 121, 190, 0.9);

}
.mdc-data-table__header-cell{
    color: white;
    font-weight: bold;
    /*font-size: 0.9rem;*/
    /*font-family: oxygen;*/
    padding-left: 10px !important;
}

.data-tbl{
    width: 100%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;

}


/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

div form label,
div form .submit_btn,
div form .clear_btn,
div.listControl label,
.refresh,
.newupload {
    background-color: #1e79be;
    padding: 5px 10px;
    border-radius: 5px;
    /*border: 1px ridge black;*/
    font-size: 0.8rem;
    height: auto;
}

div form label:hover,
div form .submit_btn:hover,
div form .clear_btn:hover,
div.listControl label:hover,
.refresh:hover,
.newupload:hover {
    background-color: #2D5BA3;
    color: white;
}

div form label:active,
div form .submit_btn:active,
div form .clear_btn:active,
div.listControl label:active,
.refresh:active,
.newupload:active {
    background-color: #0D3F8F;
    color: white;
}

#newupload_btn, #refresh_btn{
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: white;
}


/* -----------------*/
/* --UPLOAD STATUS STYLING --*/
/* -----------------*/



div.upload_failed_message {
    display: none;
}

div.upload_success_message {
    display: none;
}

div.upload_success_message p {}

i.fas.fa-check-circle {
    float: left;
    padding-right: 15px;
    margin-left: 45%;
    font-size: 250%;
    color: green;
}

i.fas.fa-ban {
    float: left;
    padding-right: 15px;
    margin-left: 45%;
    font-size: 250%;
    color: red;
}

.upload {
    padding-left: 30px;
}

.box6 p {
    padding-left: 30px;
}

/* -----------------*/
/* --DEMOGRAPHICS STYLING --*/
/* -----------------*/

input[type=text],
select,
textarea {
    width: 75%;
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Lato;
}

select {
    /*width: 80%;*/
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Lato;
}

input[type=date] {
    width: 75%;
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-family: Lato;
}


.box7 .upload_fields {
    padding-left: 30px;
    padding-bottom: 20px;
    width: 75% !important;
}

.joblist {
     margin-left: 20px;
 }

/*

.upload_fields input{

}
*/

/* ------------------------------*/
/* -- Additional Table Styling --*/
/* ------------------------------*/
table{
    border-radius: 10px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
    height: 32px !important;
}

/* MDC Comments column */
.textarea-holder{
    /*min-width: 170px !important;*/
    /*max-width: 170px !important;*/
    /*width: 170px !important;*/
    /*min-height: 35px !important;*/
}
.textarea-holder textarea{
    min-width: 170px !important;
    max-width: 170px !important;
    width: 100% !important;
    white-space: nowrap;
    /*min-height: 40px !important;*/
    padding: 5px 3px 10px 3px !important;
    /*margin-top: 10px;*/
    outline: none;
    resize: none;
    border-color: Transparent !important;
    font-family: 'oxygen', serif !important;
    font-size: 0.875rem;
    vertical-align: center;
}

.textarea-holder{
    padding: 0 !important;
}

.download-icon{
    /*font-size: 20px;*/
    vertical-align: bottom;
    cursor: pointer;
}

.file-status{
    display: inline;
    vertical-align: sub;
}

.download-info-container{
    float: right;
}

td .times-downloaded{
    text-align: end;
    vertical-align: bottom !important;
    font-family: 'oxygen', serif !important;
}

.times-downloaded-header{
    /*text-align: center;*/
    max-width: 8em !important;
    width: 6em !important;
}

.job-comment{
    color: #1e79be;
    font-size: 18px;
    vertical-align: text-bottom;
}