* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.page_header {
    background-color: green;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.upload {
    margin-top: 20px;
}

.page_title {
    display: inline;
}
.logo_pro {
    display: inline;
    width: 300px;
    height: auto;
    vertical-align: top;
}

/* ------------------------ */
/* BUTTONS  */
/*--------------------------*/
.btn:link,
.btn:visited,
input[type=submit],
input[type=file]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit],
input[type=file]
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=file]:hover,
input[type=file]:active
{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,{
    border: 1px solid #cf6d17;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ------------------------ */
/* GENERIC LINKS   */
/*--------------------------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
