/* ---------------------*/
/* ---PAGE GRID SETUP --*/
/* ---------------------*/
/*

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    !*grid-gap: 1em;*!
    justify-items: stretch;
    align-items: stretch;
}

!*.grid-wrapper > div {
        background: #eee;
        padding: 1em;
}*!

.grid-wrapper > div:nth-child(odd) {
    background: #ddd;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background: #ddd;
    grid-gap: 0;
    border-bottom: 1px solid;
    vertical-align: baseline;


}

.box2 {

    grid-row 1/3;
    background: #ddd;
    grid-gap: 0;
}

.box3 {

    grid-row: 2/4;
    text-align: right;
    background: #ddd;
    grid-gap: 0;
    border-bottom: 1px solid;

}

.box4 {
    grid-column: 1/2;
    border-left: 1px solid;
    border-right: 1px solid;
    grid-gap: 1em;
}

.box5 {
    grid-column: 1/2;
    border-left: 1px solid;
    border-right: 1px solid;
}

.box6 {

    grid-column: 1/2;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.box7 {
    grid-column: 2/3;
    grid-row: 4/7;
    border-right: 1px solid;
    border-bottom: 1px solid;

    }

.box8 {
    grid-column: 1/3;
}

.box9 {
    grid-column: 1/3;
}
*/

/* ---------------------*/
/* ---COMMON STYLING  --*/
/* ---------------------*/
/*

h1 {
    font-size: 150%;
    padding: 20px;
    margin: 20px;
    vertical-align: baseline;
}


h3 {
    padding-left: 10px;
}

*/

/* ---------------------*/
/* ---HEADER STYLING  --*/
/* ---------------------*/
/*


.logo {
    width: 350px;
    height: auto;
    text-align: right;
    padding-right: 15px;
}

.logged_in_info {
    font-size: 75%;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
}
*/

/* ---------------------*/
/* ---TOP-RIGHT STYLING  --*/
/* ---------------------*/
/*

.logged_in_user {
    display: inline-block;
}

.logout_btn {
    display: inline-block;
    color: blue;
}
*/

/* ---------------------*/
/* ---BODY STYLING  --*/
/* ---------------------*/
/*

body {
    font-size: 16px;
    font-family: Lato;
}
*/
.preview {
    list-style: none;
}



/* -----------------*/
/* --BUTTON STYLING --*/
/* -----------------*/

div form .submit_btn,
div form .clear_btn,
div form .upload_btn_lbl{
    /*background-color: #1e79be;*/
    padding: 5px 10px;
    border-radius: 5px;
    /*border: 1px ridge black;*/
    font-size: 1rem;
    height: auto;
    --mdc-theme-on-primary: white;
}

div form .submit_btn{
    --mdc-theme-primary: #1e79be;
}
div form .upload_btn_lbl{
    --mdc-theme-primary: #7f9ccb;
}
div form .clear_btn{
    --mdc-theme-primary: #B00020;
}


/*div form label{
    background-color: #1e79be;
    padding: 5px 10px;
    border-radius: 5px;
    !*border: 1px ridge black;*!
    font-size: 1rem;
    height: auto;
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: white;
    margin-bottom: 7px;
}*/

/* -----------------*/
/* --UPLOAD STATUS STYLING --*/
/* -----------------*/


.ulInstructions {
    list-style: none;
}

.upload_limits {
    font-size: 12px;
}
div.upload_failed_message {
    display: none;
}

div.upload_success_message {
    display: none;
}

div.upload_success_message p {
    display: inline-block;
}

i.fas.fa-check-circle {
    float: left;
    padding-right: 15px;
    /*margin-left: 45%;*/
    font-size: 250%;
    color: green;
}

i.fas.fa-ban {
    float: left;
    padding-right: 15px;
    /*margin-left: 45%;*/
    font-size: 250%;
    color: red;
}

.upload {
    padding-left: 30px;
}

.box6 p {
    padding-left: 30px;
}

/* -----------------*/
/* --DEMOGRAPHICS STYLING --*/
/* -----------------*/

/*input[type=text],
select,
textarea {
    width: 75%;
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Lato;
}*/

input[type=date] {
    /*width: 75%;*/
    /*padding: 6px 20px;*/
    margin: 8px 0;
    display: block;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    font-size: 1rem;
    font-family: 'Oxygen' , serif  !important;

    height: 56px;
    width: 94%;
    background-color: rgba(255, 255, 255, 0);


    /*padding: 6px 20px;*/
    padding: 0 16px;
    /*margin: 8px 0;*/
    /*display: block;*/
    border: 1px solid #97999a;
    border-radius: 4px;
    /*font-size: 1rem;*/
    color: #202020;
}



.box7 .upload_fields {
    padding-left: 30px;
    padding-bottom: 20px;
    width: 75% !important;
}
/*

.upload_fields input{

}
*/

/* -----------------*/
/* --DEMOGRAPHICS STYLING --*/
/* -----------------*/

.joblist {
    margin-left: 20px;
}

select {
    /*width: 80%;*/

    height: 56px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);


    /*padding: 6px 20px;*/
    padding: 0 16px;
    /*margin: 8px 0;*/
    /*display: block;*/
    border: 1px solid #97999a;
    border-radius: 4px;
    font-size: 1rem;
    color: #202020;
    font-family: 'Oxygen' , serif  !important;


    /*font-family: Lato;*/
    /*line-height: 100%;*/
}
select option{
    /*width: 80%;*/

    height: 56px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);


    /*padding: 6px 20px;*/
    padding: 0 16px;
    /*margin: 8px 0;*/
    /*display: block;*/
    border: 1px solid #97999a;
    border-radius: 4px;
    font-size: 1rem;
    color: #202020;

    /*font-family: Lato;*/
    /*line-height: 100%;*/
}

input[type=text],
.demo_author {
    width: 96%;
    font-size: 1.0rem;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0);
    height: 36px;
    border: 1px solid #97999a;
    border-radius: 4px;
    color: #202020;
    font-family: 'Oxygen' , serif  !important;
}
#demo_comments{
    width: 96%;
    font-size: 1.0rem;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #97999a;
    border-radius: 4px;
    color: #202020;
    font-family: 'Oxygen' , serif  !important;
}

input[type=date]:focus,
input[type=text]:focus,
#demo_comments:focus,
select:focus,
.demo_author:focus{
    /*width: 80%;*/

    border-color: #1e79be !important;
    outline-color: #1e79be !important;;
    border-style: inset;

    /*font-family: Lato;*/
    /*line-height: 100%;*/
}

.job_upload_form_lbl{
    font-size: 0.9rem;
    margin-top: 15px;
    color: #1e79be;
    font-weight: normal;
}

.mdc-text-field{
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be ;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background:#1e79be;
    --mdc-theme-surface:#1e79be;
    --mdc-theme-on-secondary:#1e79be;
    --mdc-theme-on-surface:#1e79be;
}
.mdc-floating-label{
    --mdc-theme-primary: #1e79be;
    --mdc-theme-on-primary: #1e79be ;
    --mdc-theme-secondary: #1e79be;
    --mdc-theme-background:#1e79be;
    --mdc-theme-surface:#1e79be;
    --mdc-theme-on-secondary:#1e79be;
    --mdc-theme-on-surface:#1e79be;
}

/*-----------------------*/
/*   Header Styling      */
/*-----------------------*/
#navbtn{
    font-size: 0.9em;
}
