#report{
    resize: both;
    overflow: auto;
    width: 60%;
}


.upload_cell{
    width: 50%;
    padding: 20px;
    vertical-align: top;
}


img:not(#norm){
    float: right;
}

#tip{
    font-size: 0.9em;

    display: inline;
    /*white-space: nowrap;*/
}

#norm{
    vertical-align: middle;
    /*vertical-align: text-top;*/
    width: 34px;
    height: auto;
}
#accord {
    padding: 0 10px 10px 10px;
    /*width: 440px;*/
    width: auto;
    /*height: 220px;*/
    /*!*float: right;*!border: 1px solid #5f3f3f;*/
    /*display:inline;*/
    /*float: right;*/
}

#leg{
    /*border: 1px solid #5f3f3f;*/
    width:auto;
    display:inline;
}

#mainlogo{
    float: none !important;

}
#header-tbl,#demo-tbl{
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    width: 100%;
}
#rep-tbl{
    width: 100%;
}
#nr{

    width: 1%;
    white-space: nowrap;
}

#mainlogo-td{
    /*	 white-space:nowrap;*/
    width: 1%;
    vertical-align: top;
    padding-top: 27px;
}


.title{
    font-size: 20px;
    font-weight: bold;
    color: #1e79be;
    /*color: #3d3d3d;*/
}

.spacer{
    height: 20px;
}

.noHover{
    pointer-events: none;
}

.alert-validate {
    background-color: #efdfdf !important;
}

#help{
    color: #2dace1;
}

.top-links a:link {
    color: #2dace1;
}

/* visited link */
.top-links a:visited {
    color: #2dace1;
}

/* mouse over link */
.top-links a:hover {
    color: #ec9433;
}

/* selected link */
.top-links a:active {
    color: hotpink;
}

table, th, td {
    /*  border: 1px solid black;*/
}

#loadBtn{
    display: block;
    max-width: 302px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-wrapper{
    box-shadow: 0 0 16px #262626;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.page-title{
    color: white;
    font-weight: normal;
}
