.overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background: white;
    z-index: 9600;
    display: block;
}

.overlay .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay{
    text-align: center;
}
.loading-overlay-text{
    position: relative;
    top: 40%;
    color: #444444;
    font-family: main, sans-serif;
    font-size: 40px;
    -webkit-animation: bounce 2.5s infinite ease-in-out both;
    animation: bounce 2.5s infinite ease-in-out both;
}

@-webkit-keyframes bounce {
    0% { transform: translateY(-3px)  }
    50% { transform: translateY(6px) }
    100% { transform: translateY(-3px) }
}

@keyframes bounce {
    0% { transform: translateY(-3px)  }
    50% { transform: translateY(6px) }
    100% { transform: translateY(-3px) }
}